.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}

.recordsLogo {
  width: 2em;
  height: 2em;
  margin: 4em;
  border-radius: 30px;
}
#greeting {
  text-align: center;
  font-size: 1.2em;
  margin-right: 2rem;
}

.userAccountContainerOuter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  position: relative;
}
.userAccountContainer {
  display: flex;
  flex-direction: column;
}
.userAccountContainer img {
  border-radius: 20px;
  height: 3.5rem;
  width: 3.5rem;
  margin-top: 0;
}
.userMenuOuter {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.userMenuHidden {
  display: none;
}
.userMenuVisible {
  display: block;
  background-color: var(--background-light);
  z-index: 9999;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate3d(-10px, 64px, 0px);
  width: 12rem;
}

ul {
  list-style: none;
}

.userAccountContainer button {
  height: 4rem;
  width: 4rem;
  background-color: var(--background);
  /* padding: 0.5em; */
  border: none;
  font-size: 0.8em;
  color: var(--accent);
  text-align: left;
  margin: 0em;
  border-radius: 20px;
}

.userAccountContainer button:hover {
  text-decoration: underline;
  background-color: var(--background-light);
}
.userAccountContainer a:hover {
  color: var(--background);
  text-decoration: underline;
}

.userMenuButton {
  height: 3rem;
  width: 14rem;
  background-color: var(--background);
  text-align: left;
  margin: 0em;
  padding-left: 0.6em;
  border: solid 1px var(--secondary);
  font-size: 1.2em;
}
.userMenuButton a {
  background-color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--accent);
}
.userMenuVisible span {
  background-color: inherit;
  font-size: 1.2em;
  color: var(--accent);
}
.userMenuVisible img {
  background-color: transparent;
  height: 1.2em;
  width: 1.2em;
  margin-top: 0em;
  margin-left: 2.5em;
}

/* TODO: remove welcomeContainer if using header - not required  */
.welcomeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 600;
}

.welcomeContainer span {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}

/* TODO: .loggedInContainer ??? */
/* outer container */
.loggedInContainer {
  height: 80vh;
  margin-top: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 1.4em;
  font-weight: 600;
  margin: 1.2em 0em;
  color: var(--accent);
}
.searchContainer {
  background-color: var(--background-light);
  padding: 5px;
  display: flex;
  margin: 3em 0em 3em 20em;
  width: 55%;
}
.resultsContainerOuter {
  display: flex;
  flex-direction: row;
  margin-top: 8em;
  background-color: var(--background);
}

.resultsContainer {
  background-color: var(--background-light);
  padding: 25px;
  display: flex;
  /* margin: 1em; */
  max-width: 60%;
}

.playlistContainer {
  max-width: 35%;
  /* margin: 3.75em; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-light);
  padding: 25px;
}
