.trackContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 3em;
  max-width: 20em;
  background-color: var(--background);
}

.trackContainerPlaylist {
  flex-direction: row;
}

.trackImage {
  max-height: 18em;
  border-radius: 40px;

  margin-bottom: 2em;
}
.trackContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 40px;
  background-color: var(--background-light);
  padding: 0.75em;
}
.trackInfo {
  margin: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-light);
}

.trackInfo h3 {
  font-size: 2.75em;
  line-height: 1em;
  background-color: inherit;
}
.trackInfo p {
  font-size: 1.675em;
  line-height: 1em;
  margin: 0.4em 0em 0.6em;
  background-color: inherit;
}
.trackSaveButton {
  width: 5em;
  height: 5em;
  border: none;
  cursor: pointer;
  background-color: var(--background-light);
}
.buttonImage {
  height: 3.5em;
  margin: 0em;
}
