.tracklistContainer {
  margin: 1.9em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.emptyStateContainer {
  width: 75%;
  height: 80%;
  padding: 0 em;
}

.emptyStateResults {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  color: var(--text);
  font-style: italic;
}
