.tracklistContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.tracklistHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.tracklistHeader h5 {
  font-size: 1.4rem;
  color: var(--secondary);
}

#tracklistHeaderOtherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.emptyStateContainer {
  display: flex;
  justify-content: center;
  margin: 3rem;
  align-items: center;
}

.emptyStateResults {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.25;
  color: var(--text);
  font-style: italic;
  opacity: 0.75;
}
