/* 
App colour scheme

Slate Blue:  #6a5acd
blue-magenta: #433BFF
Persian blue: #2538be
Violet:  #49306b
Indigo: #4b0082
lilac:  #646cff
*/

/* 
text & bkgrnd - neutral
text: #F8F9FA
Background: #00132D
primary: #80FFDB (main call to actions (CTAs) & sections)
Secondary: #64DFDF  (less nb buttons & info cards)
Accent: #48CAE4 (appears in images, highlights, hyperlinks, boxes, cards, etc

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background);
  color: var(--text);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* define colours */
:root {
  --text: #f8f9fa;
  --background: #00132d;
  --primary: #80ffdb;
  --secondary: #64dfdf;
  --accent: #48cae4;
}

.notLoggedContainer {
  background-color: var(--background);
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* not logged view */

.loginHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  width: 100%;
  margin-top: 3em;
}
.loginHeader h1 {
  font-weight: 700;
  font-size: 7em;
  background: linear-gradient(120deg, var(--primary), var(--accent));

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  font-weight: 700;
  font-size: 1.625em;
}
.firstWave {
  display: inline-block;
  background: linear-gradient(120deg, var(--primary), var(--accent));

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 1s infinite; /* Animation name, duration, and infinite loop */
}
.secondWave {
  display: inline-block;
  background: linear-gradient(120deg, var(--primary), var(--accent));

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 2s infinite; /* Animation name, duration, and infinite loop */
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0); /* Original position */
  }
  25% {
    transform: translateY(-10px); /* Move up */
  }
  50% {
    transform: translateY(0); /* Back to original */
  }
  75% {
    transform: translateY(10px); /* Move down */
  }
}

.jamminLoginLogo {
  width: 12em;
  height: 12em;
  opacity: 75%;
  border-radius: 45px;
  margin-bottom: 4em;
}
.loginButton {
  align-self: center;

  font-size: 1.625em;
  font-weight: 900;
  border-radius: 15px;
  border: 1px none;
  background-color: var(--primary);
  color: var(--background);
  height: 3em;
  width: 12em;
  margin: 3em;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
}
.loginButton:hover {
  background-color: var(--primary);
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary);
}

/* logged in view */

/* outer container */
.loggedInContainer {
  height: 100vh;
}
.recordsLogo {
  width: 6em;
  height: 6em;
  margin-top: 2em;
  border-radius: 30px;
}
h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}
.welcomeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 600;
}

.welcomeContainer span {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}

p {
  font-size: 1.4em;
  font-weight: 600;
  margin: 1.2em 0em;
  color: var(--accent);
}
.searchContainer {
  background-color: #4b0082;
  padding: 5px;
  display: flex;
  margin: 3em;
  width: 55%;
}
/* .mainContainer {
} */
.resultsContainerOuterHidden {
  display: none;
}
.resultsContainerOuterVisible {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.resultsContainer {
  background-color: #49306b;
  padding: 25px;
  display: flex;
  margin: 3.75em 4em;
  max-width: 80%;
}

.playlistContainer {
  max-width: 80%;
  margin: 3.75em;
}
