.searchBar {
  width: 40em;
  display: flex;
  height: 4rem;
}

.inputField {
  width: 100%;
  color: var(--text);
  background-color: var(--background-light);
  padding: 0.7em;
  font-size: 1.2em;
  border-radius: 40px;
  border: none;
}
.inputField:focus {
  outline: 4px solid var(--accent);
  background-color: var(--background-light);
  caret-color: var(--accent);
}
.inputField::placeholder {
  color: var(--text);
  opacity: 0.5;
}

.searchBtn {
  border-radius: 20px;
  width: 5em;
  height: 2.5em;
  border: none;
  margin-top: 0.3em;
  margin-left: 0.5em;
  font-size: 1.2em;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
}
.searchBtn:hover {
  background-color: var(--primary);
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary);
}
.searchIcon {
  height: 2em;
  width: 2em;
  background-color: transparent;
  margin-top: 0.4em;
  /* margin-right: 1em; */
}

.addShake {
  animation: shake 2s;
}

@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
