/* 
App colour scheme

Slate Blue:  #6a5acd
blue-magenta: #433BFF
Persian blue: #2538be
Violet:  #49306b
Indigo: #4b0082
lilac:  #646cff
orange:  #ff7f50
*/

.searchBar {
  width: 100%;
  display: flex;
}

.searchBar input {
  width: 100%;
  margin: 1em;
  color: #2538be;
  background-color: #f8f7ff;
  padding: 0.7em;
}

.searchBtn {
  border-radius: 3em;
  width: 12em;
  border: none;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  background-color: #2538be;
  cursor: pointer;
}
button:hover {
  background-color: #646cff;
}
