.searchBar {
  width: 100%;
  display: flex;
  height: 4rem;
}

.searchBar input {
  width: 100%;
  color: var(--text);
  background-color: var(--background-light);
  padding: 0.7em;
  font-size: 1.2em;
  border-radius: 40px;
  border: none;
}
::placeholder {
  color: var(--text);
  opacity: 0.5;
}

.searchBtn {
  border-radius: 3em;
  width: 10em;
  border: none;
  margin: 1em;
  font-size: 1.2em;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
}
button:hover {
  background-color: var(--primary);
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary);
}

.addShake {
  animation: shake 2s;
}

@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
