.playlistResultsContainer {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background-color: var(--background);
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.playlistResultsContainer h2 {
  background-color: inherit;
}
.playlistResultsContainer h3 {
  background-color: inherit;
  font-size: 0.8em;
}
.playlistResultsContainer span {
  color: var(--accent);
  background-color: inherit;
}
.playlistNameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: inherit;
  margin: 2em 0em 5em;
}
.playlistNameContainer input {
  background-color: var(--text);
  padding: 0.5em;
  width: 90%;
  color: var(--background);
  border-radius: 40px;
  font-size: 1em;
}

.saveToSpotifyButton {
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 600;
  margin: 1em 5em;
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  transition: border-color 0.25s;
  width: auto;
  height: 3em;
}

.saveToSpotifyButton span {
  font-weight: 600;
  font-size: 1em;
}
