.playlistResultsContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2em;
}

.playlistInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 2rem;
  margin-bottom: 3rem;
}
.playlistInfoContainer h2 {
  font-size: 2.6rem;
  color: var(--secondary);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.playlistResultsContainer span {
  color: var(--accent);
  background-color: inherit;
}
.playlistNameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;
  background-color: inherit;
}
.playlistNameInput {
  background-color: var(--accent);
  padding: 0.5em;
  width: 100%;
  color: var(--background);
  border-radius: 10px;
  font-size: 0.75em;
  border: none;
}

.playlistNameInput:focus {
  outline: 4px solid var(--accent);
  background-color: var(--background-light);
  caret-color: var(--accent);
  color: var(--text);
}

.playlistNameInput::placeholder {
  color: var(--background);
  opacity: 0.5;
}

.trackListContainerOuter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.saveToSpotifyButton {
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  transition: border-color 0.25s;
  width: auto;
  height: 2em;
}

.saveToSpotifyButton span {
  font-weight: 600;
  font-size: 1em;
}
